<!DOCTYPE html>
<html>

<head>
    <title>REALTREE MUSIC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="https://kit.fontawesome.com/ab44e6eeed.js" crossorigin="anonymous"></script>


    <!-- swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Polyfill 지원하지 않는 이전 브라우저에서 최신 코드를 지원 가능하도록 변환 -->
    <script src=https://cdn.jsdelivr.net/npm/promise-polyfill@8.1/dist/polyfill.min.js></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#footer").load("footer.html")
            $("header").load("header.html")
        });
    </script>

</head>

<body>
    <div id="app">
        <header class="white_wrapper">
        </header>

        <section style="background: #ECEADD; display: flex; justify-content: center; position: relative; overflow: hidden">
            <img src="/imgs/sub_banner.jpg">
            <p class="title_location"
                style="position: absolute; width: var(--width-content); padding-left: 30px;padding-top: 45px;">| 이벤트</p>
        </section>

        <section class="white_wrapper">



            <div style="padding-top: 50px; width: var(--width-content);">

                <div class="flex_row" style="margin-bottom: 30px; border-bottom: 1px solid #DBD7CB">
                    <button @click="tab=0" class="tab_off" :class="{ tab_on: tab==0 }">4주,1곡 완성</button>
                    <button @click="tab=1" class="tab_off" :class="{ tab_on: tab==1 }">하루 1곡 완성</button>
                </div>

                <div v-if="tab==0">
                    <p class="text_subtitle" style="margin-bottom: 30px;">차근차근 1곡 완성</p>
                    <p class="text_small" style="line-height: 20px">
                        완주한 곡이 쉽든 어렵든 그건 그렇게<br>
                        중요하지 않은 것 같아요!
                    </p>

                    <hr>

                    <p class="text_small" style="line-height: 20px; font-weight: 700;">
                        ▪️ 커리큘럼<br>
                        <ul class="curriculum">
                            <li><span class="c_title">1주차</span><br>기초 이론, 연주곡 선택하기</li>
                            <li><span class="c_title">2주차</span><br>연주곡 레슨1</li>
                            <li><span class="c_title">3주차</span><br>연주곡 레슨2</li>
                            <li><span class="c_title">4주차</span><br>마무리 레슨, 곡 완성!</li>
                        </ul>
                        <br>
                        피아노 1곡을 마스터해 보세요<br>
                        원하시면 촬영도 해드립니다 :)
                    </p>

                    <hr>

                    <p class="text_small" style="line-height: 20px; margin-bottom: 70px; font-weight: 700;">
                        [수준별 추천곡] 에서<br>
                        원하는 곡을 선택해 보세요!<br>
                        * 자신의 실력보다 난이도 있는 곡을 고른다면<br>
                        좋아하는 부분을 골라, 선택한 짧은 단위의<br>
                        구간 연주를 목표로 레슨합니다!<br>
                        <br>
                        1곡을 완주할 수 있게 도와드려요!<br>
                        차근차근, 1곡씩 마스터하다 보면<br>
                        어려운 곡도 연주하게 되는 날이 올 거예요
                    </p>
                </div>

                <div v-if="tab==1">
                    <p class="text_subtitle" style="margin-bottom: 15px;">혼자, 또는 같이</p>
                    <p class="text_small" style="line-height: 20px; margin-bottom: 30px;">
                        피아노 배워요. 피아노 취미
                    </p>

                    <p class="text_small" style="line-height: 20px; font-weight: 700;">
                        [ 20분 추가 이벤트 ]<br>
                        <br>
                        혼자, 또는 친구나 연인과 함께<br>
                        피아노 한 곡, 마스터해 보세요~<br>
                        <br>
                        [수준별 추천곡] 에서<br>
                        원하는 곡을 선택해 보세요!<br>
                        * 자신의 실력보다 난이도 있는 곡을 고른다면<br>
                        좋아하는 부분을 골라, 선택한 짧은 단위의<br>
                        구간 연주를 목표로 레슨합니다!
                    </p>

                    <hr>

                    <p class="text_small" style="line-height: 20px; margin-bottom: 70px; font-weight: 700;">
                        [ 하루, 1곡 완성 프로젝트 ]<br>
                        <br>
                        ▪️ 아래 게시된 시간 [+20분] 추가 레슨 해드리고 있어요♡ (무료 추가 레슨을 원하시면 미리 말씀만 해주세요!)<br>
                        <br>
                        베이직 (2인, 60분) 35,000원<br>
                        스페셜 (2인, 90분) 50,000원<br>
                        프리미엄 (2인, 120분) 65,000원<br>
                        <br>
                        베이직 (1인, 60분) 30,000원<br>
                        스페셜 (1인, 90분) 45,000원<br>
                        프리미엄 (1인, 120분) 60,000원 입니다 :)<br>
                        <br>
                        1인 1교실, 2인 1교실로 진행합니다~<br>
                        친구나 연인과 추억을 만들어보세요!<br>
                        (쉬운 듀엣 연주 가능해요)
                    </p>

                </div>
            </div>
        </section>

        <footer id="footer"></footer>

    </div>

</body>

<script>
    new Vue({
        el: '#app',
        data: {
            tab: 0,
        }
    });

</script>

</html>


<style>
    .title_location {
        font-weight: 900;
        font-size: var(--size-font-subtitle);
        align-items: center;
        margin-bottom: 70px;
    }

    .title_location img {
        height: 40px;
        margin-right: 15px;
    }

    .tab_on {
        border-bottom: 1px solid #95928B !important
    }

    .tab_off {
        border: none;
        height: 50px;
        background-color: transparent;
        padding: 0px 15px;
    }

    .curriculum {
        list-style: square;
    }
    .curriculum li {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 20px;
    }

    .c_title {
        font-weight: bold;
    }
</style>