@import url('https://webfontworld.github.io/naver/MaruBuri.css');

/* 공통부 */
:root {
    --width-content: 800px;
    --width-header-tab: 70px;

    --height-btn: 35px;


    --color-light: #EEEBDA;
    --color-gray: #BDBAAB;
    --color-white: #FBFAF5;
    --color-black: #575550;

    --color-text-main: #95928B;
    --color-text-white: #FBFAF5;

    --color-btn-yellow: #FFC557;
    --color-btn-text: #67655D;
    --color-btn-off-border: #7F7D70;
    --color-btn-on: #817C66;
    --color-btn-on-text: #EEE9D6;
    --color-btn-olive: #7F7B64;
    --color-btn-olive-text: #F2EDD8;

    --size-font-small: 13px;
    --size-font-normal: 16px;

    --size-font-title: 30px;
    --size-font-subtitle: 18px;
}

* {
    font-family: 'MaruBuri', sans-serif;
    box-sizing: border-box;

}

.ddd {
    border: 1px solid red;
}

body {
    padding: 0;
    margin: 0;
}

a,
a:link,
a:visited,
a:hover {
    color: var(--color-text-main);
    text-decoration: none;
}

p {
    margin: 0px;
    line-height: 40px;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.main_img_wrapper {
    position: relative;
}

.main_img_wrapper:after {
    background-image: url(imgs/img_009.jpeg);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.4;
    /* filter: grayscale(90%); */
    z-index: -1;
}

.blank_wrapper {
    display: flex;
    justify-content: center;
    color: var(--color-text-main);
}


.light_wrapper {
    background-color: var(--color-light);
    display: flex;
    justify-content: center;
    color: var(--color-text-main);
}

.gray_wrapper {
    background-color: var(--color-gray);
    display: flex;
    justify-content: center;
    color: var(--color-text-white);
}

.white_wrapper {
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    color: var(--color-text-main);
}

.btn_yellow {
    border-radius: 8px;
    background-color: var(--color-btn-yellow);
    border: none;
    height: var(--height-btn);
    padding: 0px 20px;
    cursor: pointer;
    color: var(--color-btn-text);
}

.btn_olive {
    border-radius: 8px;
    background-color: var(--color-btn-olive);
    border: none;
    height: var(--height-btn);
    padding: 0px 20px;
    cursor: pointer;
    color: var(--color-btn-olive-text);
}



.text_title {
    font-size: var(--size-font-title);
    font-weight: 500 !important;
}

.text_subtitle {
    font-size: var(--size-font-subtitle);
    font-weight: 500 !important;
}

.text_content {
    font-size: var(--size-font-normal);
}

.text_small {
    font-size: var(--size-font-small);
    letter-spacing: 1px;
    line-height: 20px;
}


.row_imgs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0px 30px 0px;
}

.row_imgs div {
    margin-right: 15px;
    flex: 1;
    height: 175px;
}

.row_imgs div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.row_imgs div:last-child {
    margin-right: 0px;
}


.row_imgs2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0px 30px 0px;
}

.row_imgs2 div {
    margin-right: 15px;
    flex: 1;
    height: 300px;
}

.row_imgs2 div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.row_imgs2 div:last-child {
    margin-right: 0px;
}



.row_divs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0px 30px 0px;
}

.row_divs div {
    flex: 1;
    color: var(--color-text-main);
    font-size: var(--size-font-small);
    background-color: var(--color-white);
    padding: 30px;
    margin-right: 15px;
    border-radius: 5px;
}

.row_divs div:last-child {
    margin-right: 0px;
}

.row_divs p {
    line-height: 20px;
    letter-spacing: -1px;
    margin-top: 15px !important;
}

/* 헤더 */
header {
    padding: 20px 0px;
}

#content_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--width-content);
}

#content_header img {
    height: 50px;
    width: auto;
    object-fit: cover;
}

#content_header ul {
    display: flex;
    flex-direction: row;
    list-style: none;

}

#content_header ul li {
    width: var(--width-header-tab);
    text-align: center;
    font-size: var(--size-font-small);
}



/* 메인 컨텐츠 */

#content_main {
    padding: 130px 0px;
    width: var(--width-content);
}




/* 컨텐츠2 */
#content_2 {
    padding: 50px 0px;
    width: var(--width-content);
    text-align: center;
}

#content_2 img {
    height: 60px;
    border: 1px solid gray;
    margin-bottom: 10px;
}

#content_2 p {
    margin: 0px;
    margin-bottom: 3px;
}


#content_3 {
    padding: 50px 0px;
    width: var(--width-content);
}

#content_5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0px;
    width: var(--width-content);
}



#content_4 {
    padding: 50px 0px;
    width: var(--width-content);
    text-align: center;
}

#start_box div {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#start_box img {
    width: 24px;
    object-fit: contain;
}

#start_box a {
    display: flex;
    justify-content: center;
    margin-right: 16px;
}

#start_box a:last-child {
    margin-right: 0;
}


footer {
    background-color: var(--color-black);
    color: hwb(47 78% 11%);
    padding: 70px 0px;
    display: flex;
    font-size: 13px;
    font-weight: 300;
    justify-content: center;
}

#footer_wrapper {
    width: var(--width-content);
    line-height: 23px;
}


#footer_wrapper img {
    width: auto;
    height: 42px;
    margin-bottom: 10px;
}

.footer_item {
    flex: 1;
}



#start_box {
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    margin-top: 30px;
}

.btn_off {
    border: 1px solid var(--color-btn-off-border);
    color: var(--color-btn-off-border);
    font-size: var(--size-font-subtitle);
    width: 110px;
    height: 35px;
    font-weight: 500;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

.btn_on {
    color: var(--color-btn-on-text);
    font-size: var(--size-font-subtitle);
    width: 110px;
    height: 35px;
    font-weight: 500;
    border-radius: 5px;
    background-color: var(--color-btn-on);
    border: none;
    cursor: pointer;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    background: var(--color-text-main);
    height: 1px;
    border: 0;
}