@import url('https://webfontworld.github.io/naver/MaruBuri.css');

@font-face {
    font-family: "GaRamYeonGgoc";
    src: url("font/Nanum_GaRamYeonGgoc.ttf") format("truetype");
    font-weight: normal;
}

/* 공통부 */
:root {
    --width-content: 800px;
    --width-header-tab: 70px;

    --height-btn: 35px;


    --color-light: #EEEBDA;
    /* --color-gray: #BDBAAB; */
    --color-gray: #9f9a83;
    --color-darkgray: #505050;

    --color-white: #f7f5eb;
    --color-black: #575550;

    --color-text-main: #95928B;
    --color-text-white: #FBFAF5;


    --color-hr: #DBD7CB;

    --color-btn-yellow: #FFC557;
    --color-btn-lightyellow: #fff7d2;
    --color-btn-lightyellow-text: #9f9a83;
    --color-btn-text: #67655D;
    --color-btn-off-border: #7F7D70;
    --color-btn-on: #817C66;
    --color-btn-on-text: #EEE9D6;
    --color-btn-olive: #7F7B64;
    --color-btn-olive-text: #F2EDD8;

    --size-font-small: 13px;
    --size-font-normal: 16px;

    --size-font-title: 24px;
    --size-font-subtitle: 18px;
}

* {
    font-family: 'MaruBuri', sans-serif;
    box-sizing: border-box;

}

.ddd {
    border: 1px solid red;
}

body {
    padding: 0;
    margin: 0;
}

a,
a:link,
a:visited,
a:hover {
    color: var(--color-darkgray);
    text-decoration: none;
}

p {
    margin: 0px;
    line-height: 40px;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.d_inblock {
    display: inline-block;
}

.main_img_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_img_wrapper:after {
    background-image: url(imgs/main_img.jpeg);
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity : 0.8; */
    /* filter: grayscale(90%); */
    z-index: -1;
}

.main_banner {
    opacity: 0.9;
    justify-content: right;
}

.blank_wrapper {
    width: var(--width-content);
    display: flex;
    color: var(--color-darkgray);
}


.light_wrapper {
    background-color: var(--color-light);
    display: flex;
    justify-content: center;
    color: var(--color-text-main);
}

.gray_wrapper {
    background-color: var(--color-gray);
    display: flex;
    padding: 8px;
    justify-content: center;
    color: var(--color-text-white);
}

.white_wrapper {
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    /* color: var(--color-text-main); */
    color: var(--color-darkgray);
}

.btn_yellow {
    border-radius: 8px;
    background-color: var(--color-btn-yellow);
    border: none;
    height: var(--height-btn);
    padding: 0px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    color: var(--color-btn-text);
}

.btn_lightyellow {
    border-radius: 5px;
    background-color: var(--color-btn-lightyellow);
    border: none;
    height: var(--height-btn);
    width: 150px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    color: var(--color-btn-text);
}

.btn_olive {
    border-radius: 8px;
    background-color: var(--color-btn-olive);
    border: none;
    height: var(--height-btn);
    padding: 0px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    color: var(--color-btn-olive-text);
}



.text_title {
    font-size: var(--size-font-title);
    font-weight: 500 !important;
}

.text_subtitle {
    font-size: var(--size-font-subtitle);
    font-weight: 500 !important;
}

.text_content {
    font-size: var(--size-font-normal);
}

.text_small {
    font-size: var(--size-font-small);
    letter-spacing: 1px;
    line-height: 20px;
}


.row_imgs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 0px 0px 0px;
}

.row_imgs div {
    margin-right: 15px;
    flex: 1;
    height: 175px;
}

.row_imgs div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.row_imgs div:last-child {
    margin-right: 0px;
}


.row_imgs2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0px 30px 0px;
}

.row_imgs2 div {
    margin-right: 15px;
    flex: 1;
    height: 300px;
}

.row_imgs2 div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.row_imgs2 div:last-child {
    margin-right: 0px;
}



.row_divs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 0px 0px 0px;
}

.row_divs div {
    flex: 1;
    color: var(--color-text-main);
    font-size: var(--size-font-small);
    background-color: var(--color-white);
    padding: 30px;
    margin-right: 15px;
    border-radius: 5px;
}

.row_divs div:last-child {
    margin-right: 0px;
}

.row_divs p {
    line-height: 20px;
    letter-spacing: -1px;
    margin-top: 15px !important;
}


header {
    z-index: 3;
    padding: 20px 0px;
}

#content_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--width-content);
}

#content_header img {
    height: 50px;
    width: auto;
    object-fit: cover;
}

#content_header ul {
    display: flex;
    flex-direction: row;
    list-style: none;

}

.content_sub_title {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 20px
}

#content_header ul li {
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
    font-size: var(--size-font-small);
}


#btn_menu {
    display: none;
    width: 36px;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 10;
    cursor: pointer;
}

#menu_small {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: none;
    margin: 0px;
    list-style: none;
    z-index: 8;
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--color-gray);
}

#menu_small li {
    padding: 0px;
    padding: 16px 0px;
}

#menu_small li span {
    color: var(--color-white);
}


/* 메인 컨텐츠 */

#content_main {
    border-radius: 5px;
    margin: 130px 0px;
    padding: 30px;
    background-color: #FBFAF5;
}




/* 컨텐츠2 */
#content_2 {
    text-align: center;
    padding: 50px 0px;
    width: var(--width-content);
}

#content_2 img {
    height: 30px;
    margin-left: 5px;
    width: 30px;
    object-fit: contain;
    opacity: 0.7;
    margin-bottom: 5px;
}

#content_2 p {
    margin: 0px;
    margin-bottom: 3px;
}


#content_3 {
    padding: 50px 0px;
    width: var(--width-content);
}

#content_4 {
    padding: 50px 0px;
    width: var(--width-content);
    text-align: center;
}

#content_5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0px;
    width: var(--width-content);
}





#start_box div {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#start_box img {
    width: 24px;
    object-fit: contain;
}

#start_box a {
    display: flex;
    justify-content: center;
    margin-right: 16px;
}

#start_box a:last-child {
    margin-right: 0;
}


footer {
    background-color: var(--color-black);
    color: hwb(47 78% 11%);
    padding: 70px 0px;
    display: flex;
    font-size: 13px;
    font-weight: 300;
    justify-content: center;
}

#footer_wrapper {
    display: flex;
    flex-direction: row;
    width: var(--width-content);
    line-height: 23px;
}


#footer_wrapper img {
    width: auto;
    height: 42px;
    margin-bottom: 10px;
}

.footer_item {
    flex: 1;
}



#start_box {
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    margin-top: 30px;
}

.btn_off {
    border: 1px solid var(--color-btn-off-border);
    color: var(--color-btn-off-border);
    font-size: var(--size-font-subtitle);
    width: 110px;
    height: 35px;
    font-weight: 500;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 16px;
}

.btn_on {
    color: var(--color-btn-on-text);
    font-size: var(--size-font-subtitle);
    width: 110px;
    height: 35px;
    font-weight: 500;
    border-radius: 5px;
    background-color: var(--color-btn-on);
    border: none;
    cursor: pointer;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    background: var(--color-hr);
    height: 1px;
    border: 0;
}

#btn_kakao {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: none;
    line-height: 14px;
    font-size: 12px;
    font-weight: bold;
    background: var(--color-btn-yellow);
    color: var(--color-btn-text);
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 100;
}


.title_location {
    font-weight: 900;
    font-size: var(--size-font-subtitle);
    align-items: center;
    margin-bottom: 70px;
    position: absolute;
    width: var(--width-content);
    padding-left: 30px;
    padding-top: 45px;
}

.tab_on {
    border-bottom: 1px solid #95928B !important
}

.tab_off {
    border: none;
    height: 50px;
    background-color: transparent;
    padding: 0px 15px;
}

.curriculum {
    list-style: square;
}

.curriculum li {
    margin-bottom: 15px;
    line-height: 20px;
}

swiper-container {
    width: 100%;
    height: 500px;
}

swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info_title {
    font-weight: bold;
    line-height: 25px;
}

.info_content {
    margin-bottom: 15px;
    line-height: 25px;
    font-size: 14px;
}


.video-container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#div-realtree {
    padding-top: 50px;
    padding-bottom: 100px;
    width: var(--width-content)
}

#div-realtree img {
    width: var(--width-content)
}


#realtree-title {
    font-size: 25px !important;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 30px;
}

#div-realtree p {
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    color: #C6C2B9;
}

#text_lody {
    font-family: 'GaRamYeonGgoc';
    margin-left: 10px;
    font-size: 50px;
    font-weight: 500;
}

.sub_banner {
    background: #ECEADD;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden
}

.location_wrapper {
    padding-top: 50px;
    width: var(--width-content);
}

.is_pc {
    display: block;
}

.is_mobile {
    display: none;
}

#map_wrapper {
    border: 1px solid #B1AEA7;
    padding: 50px;
    margin-bottom: 50px;
}

#map_detail {
    display: flex;
    flex-direction: row;
}

#map {
    width: 50%;
    height: 320px;
    margin-right: 15px;
}

@media (max-width: 800px) {

    .is_pc {
        display: none;
    }

    .is_mobile {
        display: block;
    }

    #content_header {
        width: 100%;
        display: none;
    }

    #content_main {
        margin: 30px;
        padding: 16px;
    }

    .blank_wrapper {
        width: 100%;
    }

    #content_2 {
        width: calc(100% - 16px);
        padding: 8px;
    }

    #content_3 {
        width: calc(100% - 16px);
        padding: 8px;
    }

    #content_4 {
        width: calc(100% - 16px);
        padding: 8px;
    }

    #content_5 {
        width: 100%;
        padding: 16px;
    }

    #footer_wrapper {
        width: 100%;
        flex-direction: column;
        padding-left: 30px;
    }

    .title_location {
        width: 100%;
    }


    .row_imgs {
        align-items: center;
        flex-direction: column;
    }

    .row_imgs div {
        width: calc(100% - 16px);
        margin-bottom: 15px;
        margin-right: 0px;
    }

    .row_imgs div img {
        height: 250px;
    }


    .row_imgs2 {
        align-items: center;
        flex-direction: column;
    }

    .row_imgs2 div {
        width: calc(100% - 16px);
        margin-right: 0px;
    }

    .row_imgs2 div img {
        height: 250px;
    }

    .row_divs {
        flex-direction: column;
    }


    .row_divs div {
        padding: 16px;
        border-radius: 5px;
        margin: 0px 0px 16px 0px !important;
    }

    #start_box {
        width: calc(100% - 32px);
    }

    #btn_kakao {
        bottom: 16px;
        right: 16px;
    }

    #btn_menu {
        display: block;
    }


    #div-realtree {
        width: calc(100% - 32px);
        margin: 0px 16px;
    }

    #div-realtree img {
        width: 100%;
    }

    .location_wrapper {
        width: calc(100% - 32px);
        margin-top: 16px;
        padding: 16px;
    }

    swiper-container {
        height: 300px;
    }

    #content_2 img {
        margin-top: 10px;
    }

    #map_wrapper {
        padding: 16px;
    }

    .content_sub_title {
        margin-top: 50px !important;
    }

    .mobile_margin_bottom {
        margin-bottom: 40px !important;
    }

    #map_detail {
        flex-direction: column;
    }

    #map {
        margin-bottom: 10px;
        margin-right: 0px;
        height: 250px;
        width: 100%;
    }

    .btn_off {
        margin-right: 16px;
    }

    .row_imgs2 {
        margin-bottom: 16px;
    }

    #start_box {
        width: calc(100% - 16px);
        margin: 8px 16px;
    }

}