<!DOCTYPE html>
<html>

<head>
    <title>REALTREE MUSIC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="https://kit.fontawesome.com/ab44e6eeed.js" crossorigin="anonymous"></script>

    
    <!-- swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Polyfill 지원하지 않는 이전 브라우저에서 최신 코드를 지원 가능하도록 변환 -->
    <script src=https://cdn.jsdelivr.net/npm/promise-polyfill@8.1/dist/polyfill.min.js></script>


</head>

<body>
    <div id="app">
        <header class="light_wrapper">
            <div id="content_header">
                <a href="/index.html"><img src="/imgs/logo_top.png"></a>
                <ul>
                    <li><a href="realtree.html">리얼트리</a></li>
                    <li><a href="location.html">수업장소</a></li>
                    <li><a href="teacher.html">선생님영상</a></li>
                    <li><a href="event.html">이벤트</a></li>
                    <li><a href="schedule.html">수업일정</a></li>
                    <li><a href="contact.html">문의/신청</a></li>
                </ul>
            </div>
        </header>

        <section class="light_wrapper">
            <div style="padding-top: 50px; width: var(--width-content);">
                <p class="title_location flex_row"><img src="/imgs/ic_logo.png"> | 선생님영상</p>
                <div class="flex_row" style="margin-bottom: 35px;">
                    <button v-on:click="location='강남'" class="btn_off" :class="{ btn_on: location=='강남' }" style="margin-right: 30px;">강남 ></button>
                    <button v-on:click="location='과천'" class="btn_off" :class="{ btn_on: location=='과천' }" style="margin-right: 30px;">과천 ></button>
                    <button v-on:click="location='여의도'" class="btn_off" :class="{ btn_on: location=='여의도' }">여의도 ></button>
                </div>

                <div style="border: 1px solid #B1AEA7; padding: 50px; margin-bottom: 50px;">
                    <p class="text_subtitle" style="margin-bottom: 10px;">Teacher_Lody</p>
                    <p class="text_title" style="margin-bottom: 10px;">차근차근, 편안한 수업</p>
                    <div  v-if="location=='강남'">
                        동영상 (강남)
                    </div>
                    <div  v-if="location=='과천'">
                        동영상 (과천)
                    </div>
                    <div  v-if="location=='여의도'">
                        동영상 (여의도)
                    </div>

                </div>


            </div>
        </section>

        <footer>
            <div id="footer_wrapper" class="flex_row">
                <!-- <p class="text_subtitle">고객센터</p>
            <p class="text_small">
                상호명: 리얼트리뮤직<br>
                대표자명: 김혜인<br>
                사업자 주소: 서울시 강남구 테헤란로 1길 10. 세경빌딩(역삼동)<br>
                사업자등록번호: 185-47-00344<br>
                이메일: truenamu01@naver.com
            </p> -->

                <div class="footer_item" style="flex: 3;">
                    <img src="/imgs/logo_bottom.png"><br>
                    상호명: 리얼트리뮤직<br>
                    대표자명: 김혜인<br>
                    사업자등록번호: 185-47-00344
                </div>
                <div class="footer_item" style="flex: 1.5;">
                    <p class="text_subtitle" style="margin-bottom: 20px">고객센터</p>
                    10, Teheran-ro 1-gil, Gangnam-gu, Seoul<br>
                    truenamu01@naver.com<br>
                    +82 1026789690
                </div>

            </div>

        </footer>

    </div>

</body>

<script>


    new Vue({
        el: '#app',
        components: {
            
        },
        
        data: {
            location: "강남"
        },
        created: function () {
            // ...
        },
    });
</script>

</html>


<style>
    .title_location {
        font-weight: 900;
        font-size: var(--size-font-subtitle);
        align-items: center;
        margin-bottom: 70px;
    }

    .title_location img {
        height: 40px;
        margin-right: 15px;
    }

    swiper-container {
        width: 100%;
        height: 500px;
    }

    swiper-slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>
