<!DOCTYPE html>
<html>

<head>
    <title>REALTREE MUSIC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="https://kit.fontawesome.com/ab44e6eeed.js" crossorigin="anonymous"></script>


    <!-- swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Polyfill 지원하지 않는 이전 브라우저에서 최신 코드를 지원 가능하도록 변환 -->
    <script src=https://cdn.jsdelivr.net/npm/promise-polyfill@8.1/dist/polyfill.min.js></script>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#footer").load("footer.html")
            $("header").load("header.html")
        });
    </script>

</head>

<body>
    <div id="app">
        <header class="white_wrapper"></header>

        <section class="sub_banner">
            <img src="/imgs/sub_banner.jpg">
            <p class="title_location">| 선생님영상</p>
        </section>

        <section class="white_wrapper">
            <div class="location_wrapper">
                <div class="flex_row">
                    <button v-on:click="location='강남'" class="btn_off" :class="{ btn_on: location=='강남' }">강남 ></button>
                    <button v-on:click="location='과천'" class="btn_off" :class="{ btn_on: location=='과천' }">과천 ></button>
                    <button v-on:click="location='여의도'" class="btn_off" :class="{ btn_on: location=='여의도' }">여의도 ></button>
                </div>

                <div style="border: 1px solid #B1AEA7; padding: 50px; margin-bottom: 50px;">
                    <p class="text_subtitle" style="margin-bottom: 10px;">Teacher_Lody</p>
                    <p class="text_title" style="margin-bottom: 10px;">차근차근, 편안한 수업</p>
                    <div v-if="location=='강남'">
                        동영상 (강남)
                    </div>
                    <div v-if="location=='과천'">
                        동영상 (과천)
                    </div>
                    <div v-if="location=='여의도'">
                        동영상 (여의도)
                    </div>

                </div>


            </div>
        </section>

        <footer id="footer"></footer>

    </div>

</body>

<script>


    new Vue({
        el: '#app',
        components: {

        },

        data: {
            location: "강남"
        },
        created: function () {
            // ...
        },
    });
</script>

</html>